/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;

}
.header {
    width: 100%;
    height: 100px;    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 80px;
    height: 80px;
}

.footer {
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-top: 25px;

}


.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: rgb(29, 232, 232);
}

main {
    background-color:#7FFFD4;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
}



#content {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#spacing {
    padding-right: 20px;
}

#play {
    padding: 3px 25px;
}